# Exclude target directories from all microservices
target/
**/target/
vg-ms-users
vg-ms-organizations
vg-ms-authentication
new-vg-ms-users
new-ms-notifications
new_notifications
.vscode/
vg-ms-notifications
vg-ms-gateway
new-gateway
Qoder-darwin-x64.dmg
