version: "3.9"

services:
  postgres:
    image: postgres:15-alpine
    container_name: keycloak-db
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak123!
    ports:
      - "5600:5432"
    volumes:
      - keycloak_pgdata:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - keycloak-net

  keycloak:
    image: quay.io/keycloak/keycloak:26.0.8
    container_name: keycloak
    depends_on:
      - postgres
    ports:
      - "9090:8080"
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak123!
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    command: ["start-dev"]
    restart: unless-stopped
    networks:
      - keycloak-net

volumes:
  keycloak_pgdata:

networks:
  keycloak-net:
    driver: bridge
