version: '3.8'

services:
  vg-ms-gateway:
    build: .
    container_name: vg-ms-gateway
    ports:
      - "9090:9090"
    environment:
      - SERVER_PORT=9090
      - KEYCLOAK_JWK_URI=https://lab.vallegrande.edu.pe/jass/keycloak/realms/sistema-jass/protocol/openid-connect/certs
      - KEYCLOAK_ISSUER_URI=https://lab.vallegrande.edu.pe/jass/keycloak/realms/sistema-jass
      # Service URLs - Pointing to localhost for local simulation or external dev envs
      # If running other services locally via docker-compose, use their container names (e.g., http://vg-ms-users:8085)
      - USERS_SERVICE_URL=https://genetic-yolane-vallegrandesistema-a92b57a3.koyeb.app
      - AUTH_SERVICE_URL=https://lab.vallegrande.edu.pe/jass/ms-authentication
      - ORG_SERVICE_URL=https://lab.vallegrande.edu.pe/jass/ms-organization
      - DIST_SERVICE_URL=https://related-cathi-victorcuaresmadev-dbe2b7bc.koyeb.app
      - INFRA_SERVICE_URL=https://rolling-xaviera-infrastructure-ms-f69d285a.koyeb.app
      - PAYMENTS_SERVICE_URL=https://lab.vallegrande.edu.pe/jass/ms-payments
      - WATER_SERVICE_URL=https://lab.vallegrande.edu.pe/jass/ms-water-quality
      - INVENTORY_SERVICE_URL=https://maximum-odele-vgdemo-a6330e3c.koyeb.app
      - CLAIM_SERVICE_URL=https://lab.vallegrande.edu.pe/jass/ms-claim-incidents
    networks:
      - jass-network

networks:
  jass-network:
    driver: bridge
