version: '3.8'

services:
  vg-ms-organizations:
    build: .
    container_name: vg-ms-payments
    ports:
      - "8081:8081"
    environment:
      - NOMBRE_MICROSERVICIO=vg-ms-payments
      - SPRING_R2DBC_URL=r2dbc:postgresql://ep-silent-flower-ah11hszt-pooler.c-3.us-east-1.aws.neon.tech:5432/neondb?sslmode=require&channel_binding=require
      - SPRING_R2DBC_USERNAME=neondb_owner
      - SPRING_R2DBC_PASSWORD=npg_FvwbUB26GcHE
      - MS_USERS_URL=http://lab.vallegrande.edu.pe/jass/ms-users
    deploy:
      resources:
        limits:
          memory: 180M      # Límite ultra estricto
          cpus: '0.2'       # Límite de CPU muy reducido
        reservations:
          memory: 80M       # Memoria reservada mínima
          cpus: '0.1'       # CPU reservada mínima
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:8081/actuator/health", "||", "exit", "1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s